.app {
  display: flex;
  width: 800px;
  height: 350px;
  //background-color: #4a4a4a;
  overflow: hidden;
  border: 2px solid black;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

}